* {
    box-sizing: border-box;
}

nav {
    display: inline;
    height: 50px;
    top: -5px;
    margin-top: 5px;
    padding-top: 20px;
    text-align: right;
    width: 100%;
    font-size: 18px;
    font-family: "Wire+One";
    background: rgba(87, 8, 18, 0.671);
    position: fixed;
    margin-left: -8px;
    right: 0;
}

nav a {
    margin-right: 30px;
    padding: 0px;
    color: rgb(250, 251, 242);
    text-decoration: none;
}

nav a:hover {
    color: rgb(33, 53, 156);
}

#signIn {
    margin-right: 0px;
}

#sp1 {
    color: white;
    padding: 0 0 0 0;
}