form {
  width:600px;
}

body{
  background-image: url("train.jpe");
}

#text1 {
  float:right;
  color: white;
  font-size: 17px;
}

#text2 {
  float:left;
  color: white;
  font-size: 17px;
}

h1{
  color: white;
  margin-left: 20%;
}

body{
  background-image: url("train.jpeg");
}

p{
  display: inline-block;
  color: white;
  font-size: 17px;

}


#submit{
border:none;
padding: 20px 30px;
text-align: center;
display: inline-block;
font-size: 18px;
cursor: pointer;
position: absolute;
border-radius: 4px;

}

.container {
  position: relative;
  margin-right:46%;
}

.vertical-center {
  margin: 0;
  position: absolute;
  right: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.cash{
  color: white;
  font-size: 17px;
}

.credit_card{
    color: white;
    font-size: 17px;
}

#textBox{
  position: absolute;
  top: 385px;
  margin-left: 610px;
  size: 10;

}

.Body{
  margin-left: 25%;
}