form {
  width:600px;
}

#text1 {
  float:right;
  color: white;
  font-size: 20px;
}

#text2 {
  float:left;
  color: white;
  font-size: 20px;
}

h1{
  color: white;
  margin-left: 20%;
}

p{
  display: inline-block;
  color: white;
  font-size: 20px;

}


#submit{
border:none;
padding: 20px 30px;
text-align: center;
display: inline-block;
font-size: 18px;
cursor: pointer;
position: absolute;
border-radius: 4px;
margin-top: 4%;
margin-left: -11%;

}

.container {
  position: relative;
  margin-right:46%;
}

.vertical-center {
  margin: 0;
  position: absolute;
  right: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.cash{
  color: white;
  font-size: 20px;
}

.credit_card{
    color: white;
    font-size: 20px;
}

#textBox{
  position: absolute;
  top: 385px;
  margin-left: 610px;
  size: 10;

}

.Body{
  margin-top: 7%;
  margin-left: 25%;
  background-color: rgba(51, 46, 45, 0.63);
  width: 750px;
  padding-left: 5%;
}

.Payment{
  margin-left: 15%;
  margin-top: 29%;
  
}

h1{
  margin-left: 29%;
}

.in{
  height: 25px;
  border-radius: 12px;
  background-color: rgba(255, 254, 254, 0.7);
  font-size: 16px;
  color:black;
  text-align: center;
}

select, label[value="seats"]{
  margin-left: 25%;
}

select{
  margin-top: 1%;
}

.cBox{
  color:white;
  font-size: 20px;
  margin-left: 20%;
}

#price{
  color: black;
  border-radius: 12px;
  background-color: rgba(255, 254, 254, 0.7);
  font-size: 16px;
  text-align: center;
  margin-bottom: 5%;
}

.creditInfo{
  margin-top: 9.5%;
}