* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.trips p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: whitesmoke;
    text-align: center;
    padding-top: 0.5px;
}

.trips {
    margin-top: 4%;
    margin-left: 20%;
    background: rgba(51, 46, 45, 0.63);
    width: 1000px;
    height: 670px;
    overflow: scroll;
}

table,
th,
td {
    margin-top: -3%;
    border: 1px solid black;
    table-layout: fixed;
    text-align: center;
}

th {
    width: 133.3px;
    height: 40px;
    font-size: 20px;
    color: whitesmoke;
    font-weight: bold;
}

td {
    width: 114.28px;
    height: 50px;
    font-size: 16px;
    color: whitesmoke;
}