body {

    color: white;
}


h1{
    margin-left: 16%;
}

#text1 {
    font-size: 25px;
    color: FFFFFF;
    float: left;
}

#text2 {
    float: left;
    font-size: 25px;
}

input[type="submit"] {
    background-color: white;
    border: none;
    padding: 15px 30px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 12px;
    margin-top: 40%;

}


input {
    padding: 5px 30px;
    border-radius: 12px;
    color:black;
    text-align: center;
    font-size: 20px;
}

.body{
    width: 40%;
    margin-top: 15%;
    margin-left: 30%;
    margin-right: 5%;
    background: rgba(51, 46, 45, 0.63);
    text-align: center;

}