body{
    color: white;
}

h1{
    font-size: 30px;
    margin-left: 35%;
}

.body{
    background: rgba(51, 46, 45, 0.63);
    width: 500px;
    padding-left: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
}

form{
    margin-top: 10%;
    margin-left: 35%;
}

input{
    height: 35px;
    width: 300px;
    border-radius: 12px;
    background-color: rgba(255, 254, 254, 0.7);
    font-size: 18px;
    color:black;
    text-align: center;
    margin-left: 15%;
    margin-bottom: 1%;

}

input[type="submit"] {
    margin-right: 10px;
    margin-left: 50px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgba(87, 8, 18);
    border: none;
    border-radius: 15px;
    box-shadow: 0 7px #999;
    height: 40px;
    width: 100px;
    margin-left: 20%;
    margin-top: 2%;
}

input[type="submit"]:active {
    background-color: rgba(87, 8, 18);
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

label{
    font-weight: bold;
    margin-left: 15%;
    font-size:22px;
}