<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/basePage.css' %}"> 
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    {% block head%} {% endblock head %}
</head>

<body style="background: url('/static/imgs/background4.png'); background-size: cover; background-repeat:no-repeat; overflow:hidden;">
    <!--Top Nav Bar-->
    <nav class="navBar">
        <a href="{% url 'blog:home' %}">Home</a>
        {% if user.is_authenticated %}
            {% if user.is_superuser %}
                <a href="{% url 'admin:index' %}">Admin Page</a>
            {% else %}
                <a href="{% url 'blog:myTrips' user.id %}">My Trips</a>
            {% endif %}
            <a href="{% url 'blog:profile' user.username %}">{{ user.username }}</a>
            <a href="{% url 'blog:logOut' %}">Log out</a>
        {% else %}
            <a id="signIn" href="{% url 'blog:signIn' %}">Sign In</a>
            <span id="sp1">/</span>
            <a href="{% url 'blog:signUp' %}">Sign Up</a>
        {% endif %}
    </nav>
    <!--Body-->
    {% block content %} {% endblock %}
</body>

</html>