<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block head%} {% endblock head %}
</head>

<body style="background: url({% static 'imgs/2.png' %}); background-size: 100% 105%; background-repeat:no-repeat; overflow:hidden;">
    <!--Top Nav Bar-->
    <nav class="navBar">
        <a href="{% url 'home' %}">Home</a>
        <a href="#about">Trips</a>
        <a id = "signIn" href="{% url 'signIn' %}">Sign In</a>
        <span id="sp1">/</span>
        <a href ="{% url 'signUp' %}">Sign Up</a>
    </nav>
    <!--Body-->
    {% block content %}
    {% endblock %}
</body>

</html>