<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/basePage.css' %}"> 
    {% block head%} {% endblock head %}
</head>

<body style="background: url('/static/imgs/background4.png'); background-size: cover; background-repeat:no-repeat; overflow:hidden;">
    <!--Top Nav Bar-->
    <nav class="navBar">
        <a href="{% url 'blog:home' %}">Home</a>
        <a href="#about">My Trips</a>
        <a id="signIn" href="{% url 'blog:signIn' %}">Sign In</a>
        <span id="sp1">/</span>
        <a href="{% url 'blog:signUp' %}">Sign Up</a>
    </nav>
    <!--Body-->
    {% block content %} {% endblock %}
</body>

</html>