{% extends "base.html" %}
{% load static %}
{% load tags %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/certaintrip.css' %}">

{% endblock %}
{% block title %} Trip {{trip.id}} {% endblock %}
{% block content %} <br>
<div class="Body">


    <br>
    <h1> Trip Details</h1>

    <form id="form1" name="form1" method="POST" onsubmit="return check()" action="{% url 'blog:book' %}">
        {% csrf_token %}

        <label id="text1"> Trip ID
            <br />
            <input type="text" name="tripId" class="in" size="30" value="{{trip.id}}" readonly />
        </label>

        <label id="text2"> Train Number
            <br />
            <input type="text" name="train" class="in" size="30" value="{{trip.train.id}}" readonly />
        </label>
        <br>

        <label id="text1"> To
            <br />
            <input type="text" name="destination" class="in" size="30" value="{{trip.destination.stationName}}"
                readonly />
        </label>

        <label id="text2"> From
            <br />
            <input type="text" name="source" class="in" size="30" value="{{trip.source.stationName}}" readonly />
        </label>

        <br>

        <label id="text1"> Departure Time
            <br />
            <input type="text" name="dparture" class="in" size="30" value="{{trip.start_Time}}" readonly />
        </label>

        <label id="text2"> Arrival Time
            <br />
            <input type="text" name="arrival" class="in" size="30" value="{{trip.end_Time}}" readonly />
        </label>

        <br>

        <label id="text1" style="margin-left:53%;"> Available Seats
            <br />
            <select id="op" name="selected" data="{{trip.price}}" multiple>
                {% tripSeat trip as seats %}
                {% for seat in seats %}
                <option value="{{seat}}">{{seat}}</option>
                {% endfor %}

            </select>
            <p style="font-size:12px;">(Hold down “Control” to select more than one)</p>
        </label>

        <label id="text2" style="margin-top:-22%;"> Cost
            <br />
            <input type="text" class="in" name="cost" size="30" value="{{trip.price}}" readonly="true" />
        </label>

        <div class="Payment">

            <p> Payment method:</p>

            <input type="radio" name="pay" id="cash" onclick="hideCredit()">
            <label for="cash" class="cash"> Cash</label> &nbsp &nbsp &nbsp
            <input type="radio" name="pay" onclick="displayCredit()" id="credit">
            <label for="credit_card" class="credit_card"> Credit Card</label>
            <div id="textBox" style="visibility:hidden" class="creditInfo">
                <input type="text" id="creditNum" placeholder="Credit Card number" style="margin-left: -69%;">
                <input type="text" placeholder="CCV" id="ccv">
            </div>
        </div>
        <label for="cBox" class="cBox">Total Price
            <input type="text" placeholder="Total Price" value="0" id="price" disabled>
        </label>
        <br>
        <input type="submit" value="Book" id="submit">

    </form>




</div>
<script src="{% static '/js/certaintrip.js' %}"></script>
{% endblock content %}
