{% extends "base.html" %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/homePage.css' %}">
<script src="{%static '/js/options.js'%}"></script> {% endblock%} {% block title %} Home {% endblock %} {% block content %}
<div class="filter">
    <label for="Filter options"> Filter By</label>
    <div id="Filter options">

        <button value="date" id="da" onclick="date()"> Date</button>

        <button value="time" id="ti" onclick="time()"> Time</button>

        <button value="source" id="src" onclick="source()">Source</button>

        <button value="destination" id="desti" onclick="desti()">Destination</button>

        <button value="required Seats" id="noOf" onclick="number()"> Required Number of Seats</button>

    </div>
    <div id="filter" style="display: none;">
        <div id="op1">
            <label for="Date">Date : </label>
            <input type="date" id="Date">
        </div>
        <div id="op2">
            <label for=" time1 ">Departure Time : </label>
            <input type="time " id="time1 ">
            <br>
            <label for="time2 ">Arrival Time : </label>
            <input type="time " id="time2 ">
        </div>
        <div id="op3 ">
            <label for=" source ">Source : </label>
            <input type="text " id="source ">
        </div>
        <div id="op4 ">
            <label for="destination ">Destination : </label>
            <input type="text " id="destination ">
        </div>
        <div id="op5 ">
            <label for=" no "> Required Number of Seats : </label>
            <input type="number " id="no ">
        </div>
    </div>
    <button> Filter</button>

</div>

<div class="trips ">
    <p> Trips</p>
    <table>
        <tr>
            <th> ID</th>
            <th> Train </th>
            <th> From</th>
            <th> To</th>
            <th> Day</th>
            <th> Departure Time</th>
            <th> Arrival Time</th>
            <th> Seats</th>
            <th> Cost </th>
        </tr>
        <tr id="notrip ">
            <td colspan="9 "> No Trips Available</td>
        </tr>

    </table>
    <p id="note "> Choose the ID of the trip you want to book for more details </p>
</div>
<div id="book "></div>

{% endblock content %}