{% extends "base.html" %} 
{% load static %} 
{% load tags %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/homePage.css' %}">
<script src="{%static '/js/options.js'%}"></script> 
{% endblock%} 
{% block title %} Home {% endblock %}
{% block content %}

<div class="filter">
    <span><label for="Filter options" id="label1"> Filter By</label></span>
    <br> <br>

    <div id="Filter options">

        <label for="option1"> Date</label>
        <input type="date" id="option1" name="option1"><br>

        <label for="option2"> Source</label>
        <input type="text" id="option2" name="option2"><br>

        <label for="option3"> Destination</label>
        <input type="text" id="option3" name="option3"><br>

        <label for="option4"> Time</label>
        <input type="time" id="option4" name="option4"><br>

        <label for="option5"> Number of Seats</label>
        <input type="text" id="option5" name="option5"><br>

    </div>
    <button> Filter</button>

</div>

<div class="trips" style="overflow: auto;">
    {% if errorMsg %}
        <p class="errorMessage" style="color: red; font-size: 24px;">{{ errorMsg }}</p>
    {% endif %}
    <p> Trips</p>
    <table>

        <tr>
            <th>ID</th>
            <th>Train Number</th>
            <th>From</th>
            <th>To</th>
            <th>Day</th>
            <th>Departure Time</th>
            <th>Arrival Time</th>
            <th>Seats</th>
            <th>Cost</th>
            <th>Book</th>
        </tr>

        {% for trip in trips %}

            <tr id = "{{trip.id}}">
                <td>{{trip.id}}</td>
                <td>{{ trip.train.id }}</td>
                <td>{{trip.source.stationName}}</td>
                <td>{{trip.destination.stationName}}</td>
                <td>{{trip.day}}</td>
                <td>{{trip.start_Time}}</td>
                <td>{{trip.end_Time}}</td>
                <td>
                    <select>
                        <option selected hidden>Seats</option>
                        {% tripSeat trip as seats %}
                        {% for seat in seats %}
                            <option disabled>{{seat}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>{{trip.price}}</td>
                <td>
                    <a href="{% url 'blog:certainTrip' trip.id %}"><button>Book</button></a>
                </td>
            </tr>


        {% empty %}
        <tr id="notrip">
            <td colspan="10">No Trips Available</td>
        </tr>
        {% endfor %}

    </table>
</div>

{% endblock content %}

<!--<div id="Filter options">

        <button value="date" id="da" onclick="date()"> Date</button>

        <button value="time" id="ti" onclick="time()"> Time</button>

        <button value="source" id="src" onclick="source()">Source</button>

        <button value="destination" id="desti" onclick="desti()">Destination</button>

        <button value="required Seats" id="noOf" onclick="number()"> Required Number of Seats</button>

    </div>
    <div id="filter" style="display: none;">
        <div id="op1">
            <label for="Date">Date : </label>
            <input type="date" id="Date">
        </div>
        <div id="op2">
            <label for=" time1 ">Departure Time : </label>
            <input type="time " id="time1 ">
            <br>
            <label for="time2 ">Arrival Time : </label>
            <input type="time " id="time2 ">
        </div>
        <div id="op3 ">
            <label for=" source ">Source : </label>
            <input type="text " id="source ">
        </div>
        <div id="op4 ">
            <label for="destination ">Destination : </label>
            <input type="text " id="destination ">
        </div>
        <div id="op5 ">
            <label for=" no "> Required Number of Seats : </label>
            <input type="number " id="no ">
        </div>-->