{% extends "base.html" %}
{% load static %}
{% block head %} 
<link rel="stylesheet" href="{% static 'css/homePage.css' %}">
{% endblock%}

{% block title %} Home {% endblock %}
{% block content %} 
<div class="filter">
    <label>From:</label>
    <input type="text" name="from"><br>
    <label >To:</label>
    <input type="text" name="to" id="l1"><br>
    <button>Filter</button>
    
</div>

<div class="trips">
    <p>Trips</p>
    <table>
        
        <tr>
            <th>ID</th>
            <th>Train</th>
            <th>From</th>
            <th>To</th>
            <th>Day</th>
            <th>Departure Time</th>
            <th>Arrival Time</th>
            <th>Seats</th>
            <th>Cost</th>
        </tr>
        <tr id="notrip">
            <td colspan="9">No Trips Available</td>
        </tr>
        
    </table>
</div>
<label id="note">Choose the ID of the trip you want to book for more details</label>
{% endblock content %}