{% extends "base.html" %}
{% load static %}
{% load tags %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/myTrips.css' %}">
{% endblock%}

{% block title %} My Trips {% endblock %}
{% block content %}

<div class="trips" style="overflow: auto;">
    <p id="msg" style="color: red; font-size: 18px;"></p>
    <p>My Trips</p>
    <table id="tripsTable">

        <tr>
            <th>ID</th>
            <th>Train</th>
            <th>From</th>
            <th>To</th>
            <th>Day</th>
            <th>Departure Time</th>
            <th>Arrival Time</th>
            <th>Seats</th>
            <th>Cost/Seat</th>
            <th>Total Cost</th>
            <th>Cancel</th>
        </tr>

        {% for book in books %}

        <tr id = "{{book.id}}">
            <td>{{book.trip.id}}</td>
            <td>{{book.trip.train.id}}</td>
            <td>{{book.trip.source.stationName}}</td>
            <td>{{book.trip.destination.stationName}}</td>
            <td>{{book.trip.day}}</td>
            <td>{{book.trip.start_Time}}</td>
            <td>{{book.trip.end_Time}}</td>
            <td>
                <select>
                    <option selected hidden>Seats</option>
                    {% bookSeat book as seats %}
                    {% for seat in seats %}
                        <option disabled>{{seat.id}}</option>
                    {% endfor %}
                </select>
            </td>
            <td>{{book.trip.price}}</td>
            {% bookPrice book as pr %}
            <td>{{pr}}</td>
            <td><button class="cancel" data-id='{{book.id}}' data-user="{{user.id}}">Cancel</button></td>
        </tr>


        {% empty %}
        <tr id="notrip">
            <td colspan="10">No Books</td>
        </tr>
        {% endfor %}

    </table>
</div>
<script src="{% static 'js/myTrips.js' %}"></script>
{% endblock content %}

