{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<script src="{% static '/js/check.js' %}"></script>
{% endblock%} {% block title %} Profile {% endblock %} {% block content %}

<form id="form1" name="form1">
    <div class="body">
        <h1> Profile</h1>
        <label id="text1">Username <br />
            <input type="text" name="uname" id="textfield" value="{{user.username}}" disabled>
        </label>
        <br />
        <label id="text1">First Name <br />
            <input type="text" name="fname" id="textfield2" value="{{user.first_name}}" disabled>
        </label><br />

        <label id="text2"> Last Name
            <br />
            <input type="text" name="lname" id="textfield" value="{{user.last_name}}" disabled>
        </label>
        <br />
        <label id="text1"> Email
            <br />
            <input type="Email" name="email" id="textfield2" value="{{user.email}}" disabled>
        </label>
        <br />


        <label id="text1"> Password
            <br />
            <input type="Password" name="pass" id="textfield" value="{{user.password}}" disabled>
        </label>
        <br>
    </div>
    <input type="submit" id="b1" value="update">
</form>

{% endblock %}